@import 'reset',
    'gameControl';

#root {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 70%;
    height: 90%;
    background-color: #fff;  

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); 
}

.Player {
    line-height: 1.2;
    padding-top: 20%;
    padding-bottom: 25%; 
    grid-row: 1 / -1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &__1 {
        grid-column: 1 / 3;
    }

    &__2 {
        grid-column: 3 / -1;
    }
}

.name {
    font-size: var(--font-medium);
    text-transform: uppercase;
}

.score {
    &__temp {
        color: var(--color-primary);
        //margin-top: 1rem;
        font-size: var(--font-big);
        
    }

    &__perm {
        background-color: var(--color-primary);
        padding: 1.5rem 3rem;
        margin-top: auto;
        text-align: center;
    }

    &__current {
        color: #777;
        text-transform: uppercase;
        font-size: var(--font-xsmall)
    }

    &__value {
        color: #fff;
        font-size: var(--font-medium);
    }
}

.active {
    background-color: #c1c1c1;
    position: relative;
    
    &__name {
        display: flex;
        align-items: center;
    }
        &::before {
            position: absolute;
            top: 5rem;
            right: 50%;
            content: "";
            width:1.7rem;
            height: 1.7rem;
            border-radius: 50%;
            display: inline-block;
            background-color: var(--color-primary);
        }
    
    /*
    &__circle {
        width:1.7rem;
        height: 1.7rem;
        border-radius: 50%;
        display: inline-block;
        background-color: var(--color-primary);
    }
    */
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-transform: uppercase;
}